{% extends 'index3.html' %}
{% load static %}
{% block 'body' %}
<div>
    <center><br><br>
        <img src="{% static 'img104.jpg'%}" height="250"><br>
        <h1>JVK HOTEL MANAGEMENT</h1>
    <h3> <p>Welcome to JVK Hotel Management System, your comprehensive solution<br> for efficient and seamless hotel operations.We pride ourselves on<br> delivering cutting-edge technology tailored to the unique needs of the hospitality industry.</p></h3>
    <input class="button-30" onclick="redirectToLoginPage()" type="submit" value="Get Started" /></center>
</div>
{% endblock %}


